@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
  height: 100%;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#registration-page {
  height: 100%;
  background: #78a7ba;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.signup-form {
  flex: 1;
  background-color: #f2f3f7;
  max-width: 450px;
  margin-top: auto;
  margin-bottom: auto;
}

.form-header {
  padding: 15px 0;
}

.form-header h1 {
  font-size: 28px;
  text-align: center;
  color: rgb(56, 52, 52);
}

/* line between style */

h1 {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 span {
  background: #fff;
  padding: 0 10px;
}

h1:before,
h1:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

.form-header p {
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 16px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

.form-body {
  padding: 5px 10px;
}

.checkbox-group {
  display: flex;
}

.checkbox-group div {
  flex: 1;
}

.checkbox-group label {
  color: #666;
  cursor: pointer;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.terms-use {
  color: #1bba93;
}

.btn {
  flex: 1;
  padding: 10px 20px;
  background-color: #1bba93;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* mobile view */
@media only screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }

  .btn {
    flex: 1;
  }
}
